services:
  chatbot:
    build: .
    container_name: chainlit_chatbot
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      - CHAINLIT_AUTH_SECRET="A1AxM:1OM$gGUo?3y=^,vzN7_If@L.bTV7wbh9xy5>=N4LcxAh^,g9Pc2Lcb$_uu"

  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    environment:
      POSTGRES_USER: raguser
      POSTGRES_PASSWORD: ragpass
      POSTGRES_DB: ragdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
