services:
  chatbot:
    build: .
    container_name: chainlit_chatbot
    ports:
      - "8000:8000"
    volumes:
      - ./chroma_db:/app/chroma_db
    restart: unless-stopped
    depends_on:
      - postgres

  postgres:
    image: pgvector/pgvector:pg16
    container_name: postgres
    environment:
      POSTGRES_USER: raguser
      POSTGRES_PASSWORD: ragpass
      POSTGRES_DB: ragdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
